<?xml version="1.0"?>
<config>
    <modules>
        <MagentoGarden_AttributeCategory>
            <version>1.0.1</version>
            <platform>CE</platform>
            <id>shopbybrand</id>
            <name>Shop by Brand</name>
            <url>http://www.magentogarden.com/shop-by-brand.html</url>
        </MagentoGarden_AttributeCategory>
    </modules>
    <frontend>
        <routers>
            <attributecategory>
                <use>standard</use>
                <args>
                    <module>MagentoGarden_AttributeCategory</module>
                    <frontName>attributecategory</frontName>
                </args>
            </attributecategory>
        </routers>
        <layout>
            <updates>
                <attributecategory>
                    <file>attributecategory.xml</file>
                </attributecategory>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <attributecategory>
                <class>MagentoGarden_AttributeCategory_Model</class>
                <resourceModel>attributecategory_mysql4</resourceModel>
            </attributecategory>
            <attributecategory_mysql4>
                <class>MagentoGarden_AttributeCategory_Model_Mysql4</class>
                <entities>
                	<mg_ac_images>
                		<table>mg_ac_images</table>
                	</mg_ac_images>
                	<mg_ac_attribute>
                		<table>mg_ac_attribute</table>
                	</mg_ac_attribute>
                </entities>
            </attributecategory_mysql4>
        </models>
        <resources>
            <attributecategory_setup>
                <setup>
                    <module>MagentoGarden_AttributeCategory</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </attributecategory_setup>
            <attributecategory_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </attributecategory_write>
            <attributecategory_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </attributecategory_read>
        </resources>
        <blocks>
            <attributecategory>
                <class>MagentoGarden_AttributeCategory_Block</class>
            </attributecategory>
        </blocks>
        <helpers>
            <attributecategory>
                <class>MagentoGarden_AttributeCategory_Helper</class>
            </attributecategory>
        </helpers>
    </global>
    <admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<attributecategory>MagentoGarden_AttributeCategory_Adminhtml</attributecategory>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<attributecategory>
					<file>attributecategory.xml</file>
				</attributecategory>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<magentogarden_attributecategory>
			<general>
				<enabled_attributecategory>1</enabled_attributecategory>
				<enabled_jquery>1</enabled_jquery>
			</general>
			<featured>
				<attribute_image_size_width>130</attribute_image_size_width>
				<attribute_image_size_height>75</attribute_image_size_height>
				<attribute_rolling_interval>50</attribute_rolling_interval>
			</featured>
		</magentogarden_attributecategory>
	</default>
</config>