<?xml version="1.0"?>
<config>
    <modules>
        <MagentoGarden_Mgsys>
            <version>0.1.0</version>
            <platform>CE</platform>
            <id>mgsys</id>
            <name>Management System</name>
        </MagentoGarden_Mgsys>
    </modules>
    <frontend>
        <routers>
            <mgsys>
                <use>standard</use>
                <args>
                    <module>MagentoGarden_Mgsys</module>
                    <frontName>mgsys</frontName>
                </args>
            </mgsys>
        </routers>
        <layout>
            <updates>
                <mgsys>
                    <file>mgsys.xml</file>
                </mgsys>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <mgsys>
                <class>MagentoGarden_Mgsys_Model</class>
                <resourceModel>mgsys_mysql4</resourceModel>
            </mgsys>
            <mgsys_mysql4>
                <class>MagentoGarden_Mgsys_Model_Mysql4</class>
                <entities>
                    <mgsys>
                        <table>mgsys</table>
                    </mgsys>
                </entities>
            </mgsys_mysql4>
        </models>
        <resources>
            <mgsys_setup>
                <setup>
                    <module>MagentoGarden_Mgsys</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mgsys_setup>
            <mgsys_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mgsys_write>
            <mgsys_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mgsys_read>
        </resources>
        <blocks>
            <mgsys>
                <class>MagentoGarden_Mgsys_Block</class>
            </mgsys>
        </blocks>
        <helpers>
            <mgsys>
                <class>MagentoGarden_Mgsys_Helper</class>
            </mgsys>
        </helpers>
    </global>
    <admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<mgsys>MagentoGarden_Mgsys_Adminhtml</mgsys>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<mgsys>
					<file>mgsys.xml</file>
				</mgsys>
			</updates>
		</layout>
		<events>
            <controller_action_predispatch>
                <observers>
                    <mg_upds>
                        <type>singleton</type>
                        <class>mgsys/feed_updates</class>
                        <method>check</method>
                    </mg_upds>
                </observers>
            </controller_action_predispatch>
        </events>
	</adminhtml>
	<default>
        <mgsys>
            <feed>
                <url>www.magentogarden.com/mgserver/feed/?tag=feed&amp;community=1</url>
                <use_https>0</use_https>
                <check_frequency>86400</check_frequency>
                <enabled>1</enabled>
            </feed>
        </mgsys>
    </default>
</config>